/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* On First Commit this is what we've learned 
 1. The best way to perform a basic reset using the universal selector
 2. How to set project-wide font definitions.
 3. How to clip parts of elements using clip-path (https://bennettfeely.com/clippy/?fbclid=IwAR0BIzOqEvu1waTQVUiz6Mlil4lMjIt6mktUh2HLTNAwGPCsZc_Zgy0Tq-k#:~:text=The%20clip%2Dpath%20property%20allows,the%20same%20number%20of%20points)
*/
/* applying a universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8), 
        rgba(40, 180, 131, 0.8)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}